*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    margin: 20px;
    padding: 20px;
    width: 400px;
    display: inline-block;
    background-color: #ffda77;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
}
.card p{
    opacity: 0.8;
    text-align: justify;
}
.card h3,h4{
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
}
.CardFooter{
    text-align: center;
    font-weight: 600;
    color: rgb(51, 8, 8);
    padding-top: 20px;
}
.cardTitle{
    font-weight: 500;
    color: rgb(32, 6, 6);
    text-align: center;
}
.count{
    text-align: center;
    font-weight: 500;
    padding: 40px;
    color: rgb(32, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
}
.counterApp div{
    text-align: center;
}
.counterApp button{
    padding: 5px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: #333;
    border: none;
}
.counterApp button:hover{
    background-color: black;
}
nav .active{
    color: orangered;
    background-color: #111;
}