.signup{
    width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #ffda77;
    box-shadow: 3px 3px 3px #333;
    border-radius: 10px;
}
.signup form {
    padding: 40px 0 10px;
}
.signup div{
    display: flex;
    padding: 10px 0;
}
.signup label{
    width: 30%;
    font-weight: 600;
}
.signup input {
    font-size: 17px;
    border: none;
    outline: none;
    padding: 5px;
    width: 70%;
    border-radius: 5px;
}
.signup button{
    width: 100%;
    border: none;
    padding: 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 20px;
    background-color: orangered;
}